.background-image {
    background-image: url("https://b.zmtcdn.com/data/pictures/3/18673963/21c478f3827708c444d89b6c0d7819b0_featured_v2.jpg");
    background-size:cover;
    width: 100vw;
    height: 200vh;
    position: absolute;
    top:0;
    left:0;
    padding-top:75px;
    z-index: -1;
}
.jumbotron {
    margin-top: 75px;
    margin-bottom: 4em;
    background-color: rgb(13, 83, 85);
    
}
.pic-wrapper {
    margin-bottom: 2em;
}
.booze-pic {
    width: 85%;
}
.btn-primary {
    background-image: none;
    border: none;
    border-radius: 0;
    background-color: #2892D7;
}
h3 {
    margin-top: 1em;
}

.btn:hover {
    background-color: rgb(158, 58, 141)
}
.lead {
    font-size: 35px;
    color: #FFF;
}