h1 {
    float:left;
    
    color: rgb(224, 173, 173);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    color: #000;
    font-style: italic;
}
.carousel {
    background-color: rgb(17, 17, 85);
    height: 250px;
    width: 100%;
}
.background{
    background: url("../assets/insidebeer.jpg");
    background-size:cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    padding-top:75px;
    z-index: -1;

}